In [3]:
import pandas as pd
df = pd.read_csv("D:\\py-master\\ML\\6_train_test_split\\carprices.csv")
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [16]:
X = df[["Mileage","Age(yrs)"]]
y = df["Sell Price($)"]

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [21]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)
model.predict([[70000,4]])
#model.score(X_train,y_train)

array([22542.28608473])