In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"D:\\New folder\\train_gbW7HTd.csv")

df.head()

,ID,Age,Workclass,Education,Marital_Status,Occupation,Relationship,Race,Sex,Hours_Per_Week,Native_Country,Income_Group
0,1,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,2,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,3,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,4,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,5,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K

In [6]:
df["Workclass"].fillna("No Workclass", inplace = True) 
df["Occupation"].fillna("No Occupation", inplace = True) 
df["Native_Country"].fillna("No Native_Country", inplace = True)

In [7]:
inputs = df.drop('Income_Group',axis='columns')
target = df["Income_Group"]

In [8]:
from sklearn.preprocessing import LabelEncoder
ID_A = LabelEncoder()
Age_A= LabelEncoder()
Workclass_A = LabelEncoder()
Education_A=LabelEncoder()
Marital_Status_A=LabelEncoder()
Occupation_A=LabelEncoder()
Relationship_A=LabelEncoder()
Race_A =LabelEncoder()
Sex_A=LabelEncoder()
Hours_Per_Week_A=LabelEncoder()
Native_Country_A=LabelEncoder()

In [9]:
inputs['ID_n'] = ID_A.fit_transform(inputs['ID'])
inputs['Age_n'] = Age_A.fit_transform(inputs['Age'])
inputs['Workclass_n'] = Workclass_A.fit_transform(inputs['Workclass'])
inputs['Education_n'] = Education_A.fit_transform(inputs['Education'])
inputs['Marital_Status_n'] = Marital_Status_A.fit_transform(inputs['Marital_Status'])
inputs['Occupation_n'] = Occupation_A.fit_transform(inputs['Occupation'])
inputs['Relationship_n'] = Relationship_A.fit_transform(inputs['Relationship'])
inputs['Race_n'] = Race_A.fit_transform(inputs['Race'])
inputs['Sex_n'] = Sex_A.fit_transform(inputs['Sex'])
inputs['Hours_Per_Week_n'] = Hours_Per_Week_A.fit_transform(inputs['Hours_Per_Week'])
inputs['Native_Country_n'] = Native_Country_A.fit_transform(inputs['Native_Country'])

In [10]:
inputs_n = inputs.drop(['ID','Age','Workclass','Education','Marital_Status','Occupation','Relationship','Race','Sex','Hours_Per_Week','Native_Country',],axis='columns')

In [11]:
inputs_n.head()

,ID_n,Age_n,Workclass_n,Education_n,Marital_Status_n,Occupation_n,Relationship_n,Race_n,Sex_n,Hours_Per_Week_n,Native_Country_n
0,0,22,7,9,4,0,1,4,1,39,39
1,1,33,6,9,2,3,0,4,1,12,39
2,2,21,4,11,0,5,1,4,1,39,39
3,3,36,4,1,2,5,0,2,1,39,39
4,4,11,4,9,2,10,5,2,0,39,4

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [25]:

lr = LogisticRegression(solver='liblinear',multi_class='ovr')
lr.fit(inputs_n, target)
lr.score(inputs_n, target)

0.753969472682043

In [26]:
lr.predict([[0,22,7,9,4,0,1,4,1,39,39]])

array(['<=50K'], dtype=object)

In [27]:
svm = SVC(gamma='auto')
svm.fit(inputs_n, target)
svm.score(inputs_n, target)

0.9997235957126623

In [28]:
svm.predict([[0,22,7,9,4,0,1,4,1,39,39]])

array(['<=50K'], dtype=object)

In [29]:
rf = RandomForestClassifier(n_estimators=40)
rf.fit(inputs_n, target)
rf.score(inputs_n, target)

0.9992629219004331

In [30]:
rf.predict([[0,22,7,9,4,0,1,4,1,39,39]])

array(['<=50K'], dtype=object)

In [31]:
classifier = KNeighborsClassifier(n_neighbors=11,p=2,metric="euclidean")
classifier.fit(inputs_n, target)
classifier.score(inputs_n, target)

0.7839439820644329

In [32]:
classifier.predict([[0,22,7,9,4,0,1,4,1,39,39]])

array(['<=50K'], dtype=object)