In [1]:
import pandas as pd
df = pd.read_csv("D:\\ML project\\titanic (1)\\train_data.csv")
df.head()

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,0,1,0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,2,3,1,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,3,4,1,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,4,5,0,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1

In [2]:
df1 = pd.read_csv("D:\\ML project\\titanic (1)\\test_data.csv")
df1.head()

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,791,792,0,1,0.2000,0.050749,0,1,0,0.0,1,0,0,0,0,0,1
1,792,793,0,0,0.3500,0.135753,0,0,1,1.0,0,0,0,1,0,0,1
2,793,794,0,1,0.3500,0.059914,1,0,0,0.0,1,0,0,0,1,0,0
3,794,795,0,1,0.3125,0.015412,0,0,1,0.0,1,0,0,0,0,0,1
4,795,796,0,1,0.4875,0.025374,0,1,0,0.0,1,0,0,0,0,0,1

In [3]:
Titanic = pd.merge(df,df1,how="outer")
Titanic.head()

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,0,1,0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,2,3,1,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,3,4,1,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,4,5,0,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1

In [4]:
input = Titanic.drop("Survived",axis="columns")
target = Titanic["Survived"]

In [5]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(input,target)
model.score(input,target)

C:\Users\ACEFR\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8282828282828283

In [6]:
model.predict([[1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0]])

array([1], dtype=int64)

In [7]:
from sklearn.svm import SVC
model = SVC()
model.fit(input,target)
model.score(input,target)

C:\Users\ACEFR\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.8002244668911336

In [8]:
model.predict([[1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0]])

array([1], dtype=int64)

In [9]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(input,target)
model.score(input,target)

1.0

In [10]:
model.predict([[1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0]])

array([0], dtype=int64)

In [11]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(input,target)
model.score(input,target)

C:\Users\ACEFR\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.978675645342312

In [12]:
model.predict([[1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0]])

array([1], dtype=int64)