In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv(r"D:\\New folder\\train_gbW7HTd.csv")
df.head()

,ID,Age,Workclass,Education,Marital_Status,Occupation,Relationship,Race,Sex,Hours_Per_Week,Native_Country,Income_Group
0,1,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,2,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,3,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,4,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,5,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K

In [7]:
df["Workclass"].fillna("No Workclass", inplace = True) 
df["Occupation"].fillna("No Occupation", inplace = True) 
df["Native_Country"].fillna("No Native_Country", inplace = True)

In [8]:
inputs = df.drop('Income_Group',axis='columns')
target = df["Income_Group"]

In [9]:
from sklearn.preprocessing import LabelEncoder
ID_A = LabelEncoder()
Age_A= LabelEncoder()
Workclass_A = LabelEncoder()
Education_A=LabelEncoder()
Marital_Status_A=LabelEncoder()
Occupation_A=LabelEncoder()
Relationship_A=LabelEncoder()
Race_A =LabelEncoder()
Sex_A=LabelEncoder()
Hours_Per_Week_A=LabelEncoder()
Native_Country_A=LabelEncoder()

In [10]:
inputs['ID_n'] = ID_A.fit_transform(inputs['ID'])
inputs['Age_n'] = Age_A.fit_transform(inputs['Age'])
inputs['Workclass_n'] = Workclass_A.fit_transform(inputs['Workclass'])
inputs['Education_n'] = Education_A.fit_transform(inputs['Education'])
inputs['Marital_Status_n'] = Marital_Status_A.fit_transform(inputs['Marital_Status'])
inputs['Occupation_n'] = Occupation_A.fit_transform(inputs['Occupation'])
inputs['Relationship_n'] = Relationship_A.fit_transform(inputs['Relationship'])
inputs['Race_n'] = Race_A.fit_transform(inputs['Race'])
inputs['Sex_n'] = Sex_A.fit_transform(inputs['Sex'])
inputs['Hours_Per_Week_n'] = Hours_Per_Week_A.fit_transform(inputs['Hours_Per_Week'])
inputs['Native_Country_n'] = Native_Country_A.fit_transform(inputs['Native_Country'])

In [11]:
inputs_n = inputs.drop(['ID','Age','Workclass','Education','Marital_Status','Occupation','Relationship','Race','Sex','Hours_Per_Week','Native_Country',],axis='columns')

In [1]:
#inputs_n

In [50]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(inputs_n, target)
model.score(inputs_n,target)

1.0

In [51]:
model.predict([[0,22,7,9,4,0,1,4,1,39,39]])

array(['<=50K'], dtype=object)